<h4>Modifier mon mot de passe</h4>

<div class="container">
	
	<form [formGroup]="changePasswordForm" (submit)="onChangePassword()">
		<div class="row">
			<div class="col-lg-12 my-auto">
				<div class="form-group">
					<label for="oldPassword">Ancien mot de passe :</label>
					<input type="password" formControlName="oldPassword" class="form-control" id="oldPassword" required [(ngModel)]="currentUser.user.firstname">
					<!-- False ngModel. Only used to display fake old password -->
				</div>
			</div>
			<div class="col-lg-12 my-auto">
				<div class="form-group">
					<label for="newPassword">Nouveau mot de passe :</label>
					<input type="password" formControlName="newPassword" class="form-control" id="newPassword" required>
				</div>
			</div>
			<div class="col-lg-12 my-auto">
				<div class="form-group">
					<label for="confirmNewPassword">Confirmer nouveau mot de passe :</label>
					<input type="password" formControlName="confirmNewPassword" class="form-control" id="confirmNewPassword" required>
				</div>
			</div>
			<div class="col-lg-12 my-auto">
				<p *ngIf="submitted" style="color:red; width: 100%;">{{ error.message }}</p>
				<button type="submit" class="btn btn-success">Changer le mot de passe</button>
			</div>
		</div>
	</form>

</div>