<div *ngIf='music'>
	<p>Ajouter un commentaire à la musique {{ title }}</p>
	<div class="container">

		<form [formGroup]="addCommentForm" (submit)="onAddComment()">
			<div class="row h-100">
				<div class="col-lg-5 p-0 my-auto">
					<div class="form-group">
						<input type="text" formControlName="content" placeholder="Contenu" class="form-control" id="content" required="">
					</div>
				</div>
				<p *ngIf="submitted" style="color:red; width: 100%;">{{ error.message }}</p>
				<button type="submit" class="btn comment">Ajouter le commentaire</button>
			</div>
		</form>
	</div>
</div>