<app-nav></app-nav>

<div class="container">

	<div style="margin-top: 100px;"></div>

	<form [formGroup]="loginForm" (submit)="onLogin()">
			<div class="login-group row">
			<div class="login-form col-lg-12">
				<div class="form-group">
					<input type="text" formControlName="email" placeholder="Mail" class="form-control" id="email" required> 
				</div>
				<div class="form-group">
					<input type="password" formControlName="password" placeholder="Mot de Passe" class="form-control" id="password" required> 
				</div>
				<button type="submit" class="btn btn-success">Se connecter</button>
				<p *ngIf="submitted" style="color:red; width:100%;">{{ error.message }}</p>
			</div>
		</div>
	</form>
</div>

