<nav class="navbar navbar-toggleable-md navbar-light fixed-top" id="mainNav">
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#links" aria-controls="links" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand js-scroll-trigger" routerLink="/">
		<img class="logo" src="/assets/images/logo.png">
	</a>
	
	<!-- <div class="collapse navbar-collapse" id="links">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="#download">Download</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#features">Features</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#contact">Contact</a>
			</li>
		</ul>
	</div> -->
</nav>