<aside class="aside">
	<ul class="nav flex-column col-12">
	  <li class="nav-item">
	  	<a class="nav-link active" routerLink='/account/profile'>{{ currentUser.user.username }}</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link active" routerLink='/account'>Parcourir..</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" routerLink='/account/playlists'>Mes playlists</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" routerLink='/account/musics'>Mes musiques</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" routerLink='/account'>En direct</a>
	  </li> 
	  <li *ngIf="currentUser.user.role == 'ROLE_ADMIN'"  class="nav-item">
	  	<a class="nav-link" routerLink='/admin/musics'>Gestion Musiques</a>
	  </li>
	  <li class="nav-item">
	  	<a class="nav-link" (click)="onLogout()">Deconnexion</a>
	  </li>
	 
	</ul>
	<p class="col-12"></p>
</aside>