<div *ngIf='music'>
	<h4>Musique {{ music.title }}</h4>
	<p>Description : {{ music.description }}</p>
	<p>Duree : {{ music.duration }}</p>
	<p>Contenu explicite : {{ music.is_explicit }}</p>
	<p>Téléchargeable : {{ music.downloadable }}</p>

	<p>Genre(s) :</p>
	<ul *ngFor="let genre of music.genres">
		<li>{{ genre.name }}</li>
	</ul>

	<p>Artiste(s)</p>
	<ul *ngFor="let artist of music.artists">
		<li>{{ artist.name }}</li>
	</ul>
	
	<add-comment [musicId]='music.id'></add-comment>
	<ng-template *ngIf='music.comments'>
		<ul *ngFor="let comment of music.comments">
			<li>{{ comment }}</li>
		</ul>
	</ng-template>
</div>