<div class="container">
  	<h4>Ajouter une musique</h4>

  	<form [formGroup]="addMusicForm" >
  		<div class="row h-100">
  			<div class="col-lg-5 my-auto">
  				<div class="form-group">
					<input type="text" placeholder='Titre' formControlName="title" class="form-control" name="title" required>
  				</div>
  			</div>
  			<div class="col-lg-5 my-auto">
  				<div class="form-group">
					<input type="text" placeholder='Description' formControlName="description" class="form-control" name="description" required>
  				</div>
  			</div>
  			<div class="col-lg-5 my-auto">
  				<div class="form-group">
					<input type="file" placeholder='Fichier' class="form-control" name="file" (change)='addFile($event)' required>
  				</div>
  			</div>
  			<div class="col-lg-5 my-auto">
  				<div class="form-group">
					<label for="downloadable">Explicite :</label>
					<input type="radio" formControlName="is_explicit" class="form-control" name="is_explicit" [value]="1"> Oui
					<input type="radio" formControlName="is_explicit" class="form-control" name="is_explicit" [value]="0"> Non
  				</div>
  			</div>
  			<div class="col-lg-5 my-auto">
  				<div class="form-group">
					<label for="downloadable">Téléchargeable :</label>
					<input type="radio" formControlName="downloadable" class="form-control" name="downloadable" [value]="1"> Oui
					<input type="radio" formControlName="downloadable" class="form-control" name="downloadable" [value]="0"> Non
  				</div>
  			</div>
  			<div class="col-lg-5 my-auto">
				<div class="form-group input-group">
					<label for="created_at">Date de création :</label>
     		   		<input name="created_at" formControlName="created_at" class="form-control" style="float:none" placeholder="Select a date" ngx-mydatepicker
            	   	[options]="myOptions" #dp="ngx-mydatepicker"/>
        			<span class="input-group-btn">
            			<button type="button" class="btn btn-default" (click)="dp.toggleCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
        			</span>
    			</div>
    		</div>
  			<div class="col-lg-5 my-auto">
  				<div class="form-group">
					<label for="is_active">Active sur le site :</label>
					<input type="radio" formControlName="is_active" class="form-control" name="is_active" [value]="1"> Oui
					<input type="radio" formControlName="is_active" class="form-control" name="is_active" [value]="0"> Non
  				</div>
  			</div>
  		</div>
  		<p *ngIf="submitted" style="color: red; width: 100%">{{ error.message }}</p>
  		<button type="button" class="btn btn-success" (click)="onAddMusic()">Créer</button>
  	</form>

</div>