<div class="container">
  	<h4>Ajouter une musique</h4>

  	<form [formGroup]="addMusicForm" (submit)="onAddMusic()">
  		<div class="row h-100">
  			<div class="col-lg-5 my-auto">
  				<div class="form-group">
					<label for="title">Titre :</label>
					<input type="text" formControlName="title" class="form-control" id="title" required>
  				</div>
  			</div>
  			<div class="col-lg-5 my-auto">
  				<div class="form-group">
					<label for="description">Description :</label>
					<input type="text" formControlName="description" class="form-control" id="description" required>
  				</div>
  			</div>
  			<div class="col-lg-5 my-auto">
  				<div class="form-group">
					<label for="file">Fichier :</label>
					<input type="file" formControlName="file" class="form-control" id="file" required>
  				</div>
  			</div>
  			<div class="col-lg-5 my-auto">
  				<div class="form-group">
					<label for="is_explicit">Explicite :</label>
					<input type="radio" formControlName="is_explicit" class="form-control" id="is_explicit" [value]="1"> Oui
					<input type="radio" formControlName="is_explicit" class="form-control" id="is_explicit" [value]="0"> Non
  				</div>
  			</div>
  			<div class="col-lg-5 my-auto">
  				<div class="form-group">
					<label for="downloadable">Téléchargeable :</label>
					<input type="radio" formControlName="downloadable" class="form-control" id="downloadable" [value]="1"> Oui
					<input type="radio" formControlName="downloadable" class="form-control" id="downloadable" [value]="0"> Non
  				</div>
  			</div>
  			<div class="col-lg-5 my-auto">
				<div class="form-group input-group">
					<label for="created_at">Date de création :</label>
     		   		<input id="created_at" formControlName="created_at" class="form-control" style="float:none" placeholder="Select a date" ngx-mydatepicker name="mydate"
            	   	[options]="myOptions" #dp="ngx-mydatepicker"/>
        			<span class="input-group-btn">
            			<button type="button" class="btn btn-default" (click)="dp.toggleCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
        			</span>
    			</div>
    		</div>
  			<div class="col-lg-5 my-auto">
  				<div class="form-group">
					<label for="is_active">Active sur le site :</label>
					<input type="radio" formControlName="is_active" class="form-control" id="is_active" [value]="1"> Oui
					<input type="radio" formControlName="is_active" class="form-control" id="is_active" [value]="0"> Non
  				</div>
  			</div>
  		</div>
  		<p *ngIf="submitted" style="color: red; width: 100%">{{ error.message }}</p>
  		<button type="submit" class="btn btn-success">Créer</button>
  	</form>

</div>