<!-- Navigation -->
    <app-nav></app-nav>

    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-5 my-auto">
            <img class="landingimage" src="assets/images/landingpageimage.jpg">
          </div>
          <div class="col-lg-7 my-auto">
            <div class="header-content mx-auto">
              <h1 class="mb-5">Bienvenue sur SoundBuzz. <br>Un espace d'écoute musical légal et communautaire</h1>
              <a routerLink="/register" class="btn btn-outline btn-xl js-scroll-trigger">S'inscrire</a>
              <a routerLink="/login" class="btn btn-outline btn-xl js-scroll-trigger">Se connecter</a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section class="download backgroundinfo text-center" id="download">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto outlinetext">
            <h2 class="section-heading">Bienvenue sur SoundBuzz</h2>
              <p>
                Ecoutez et partagez vos créations sur le site.
                Utilisez les réseaux sociaux pour faire connaître vos chansons préférées au reste du monde.
                <br>
                Rejoignez SoundBuzz dès aujourd'hui !
              </p>
            <div class="badges">
              <a class="badge-link" href="#"><img src="img/google-play-badge.svg" alt=""></a>
              <a class="badge-link" href="#"><img src="img/app-store-badge.svg" alt=""></a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="container">
        <p>&copy; Projet SoundBuzz 2018. S. Abderemane - S. Turquier - S. Lee - P. Barry.</p>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="#">Confidentialité</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Termes</a>
          </li>
          <li class="list-inline-item">
            <a href="#">FAQ</a>
          </li>
        </ul>
      </div>
    </footer>