<app-nav></app-nav>

<div class="container">

	<div style="margin-top: 100px;"></div>

	<form [formGroup]="registerForm" (submit)="onRegister()">
		<div class="row h-100">
			<div class="col-lg-5 my-auto">
				<div class="form-group">
					<label for="firstname">Prénom :</label>
					<input type="text" formControlName="firstname" class="form-control" id="firstname" required> 
				</div>
			</div>
			<div class="col-lg-5 my-auto">
				<div class="form-group">
					<label for="lastname">Nom :</label>
					<input type="text" formControlName="lastname" class="form-control" id="lastname" required> 
				</div>
			</div>
			<div class="col-lg-5 my-auto">
				<div class="form-group">
					<label for="username">Pseudo :</label>
					<input type="text" formControlName="username" class="form-control" id="username" required> 
				</div>
			</div>
			<div class="col-lg-5 my-auto">
				<div class="form-group">
					<label for="email">Mail :</label>
					<input type="text" formControlName="email" class="form-control" id="email" required> 
				</div>
			</div>
			<div class="col-lg-5 my-auto">
				<div class="form-group">
					<label for="password">Mot de passe :</label>
					<input type="password" formControlName="password" class="form-control" id="password" required> 
				</div>
			</div>
			<div class="col-lg-5 my-auto">
				<div class="form-group">
					<label for="confirmPassword">Confirmer mot de passe :</label>
						<input type="password" formControlName="confirmPassword" class="form-control" id="confirmPassword" required> 
				</div>
			</div>
			<div class="col-lg-5 my-auto">
				<label for="birthday">Date de naissance :</label>
			</div>
			<div class="col-lg-5 my-auto">
				<div class="form-group input-group">	
     		   		<input formControlName="birthday" class="form-control" style="float:none" placeholder="Selectionnez votre date de naissance" ngx-mydatepicker name="mydate"
            	   	[options]="myOptions" #dp="ngx-mydatepicker"/>
        			<span class="input-group-btn">
            			<button type="button" class="btn btn-default" (click)="dp.toggleCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
        			</span>
    			</div>
    		</div>


				<!-- <div class="col-lg-12 my-auto">
					<div class="form-group">
						<label for="radio">Etes-vous un artiste ? :</label>
						<label class="radio-inline"><input type="radio" [(ngModel)]="artiste" [value]="true" name="artiste">Oui</label>
						<label class="radio-inline"><input type="radio" [(ngModel)]="artiste" [value]="false" checked="checked"name="artiste" checked>Non</label>
					</div>
				</div>
				<br>
				<div class="col-lg-12 my-auto" *ngIf="artiste">Artiste ?
					<div class="form-group">
						<label for="nameartiste">Nom de l'artiste :</label>
						<input type="text" class="form-control" id="nameartiste" required> 
					</div>
				</div> -->
 				<!-- <h2 *ngIf="!artiste">Pas artiste</h2> -->
 			<div class="col-lg-3 my-auto offset-md-8">
 				<p *ngIf="submitted" style="color:red; width:100%;">{{ error.message }}</p>
				<button type="submit" style="margin-left:25px;" class="btn btn-success">S'inscrire</button>
			</div>
		</div>
	</form>
</div>

