<app-nav></app-nav>

<div class="container">
	<form>
			<div class="row h-100">
				<div class="col-lg-5 my-auto">
					<div class="form-group">
						<label for="lastname">Nom :</label>
						<input type="text" class="form-control" id="lastname" required> 
					</div>
				</div>
				<div class="col-lg-5 my-auto">
					<div class="form-group">
						<label for="email">Mail :</label>
						<input type="text" class="form-control" id="email" required> 
					</div>
				</div>
				<div class="col-lg-5 my-auto">
					<div class="form-group">
						<label for="firstname">Prénom :</label>
						<input type="text" class="form-control" id="firstname" required> 
					</div>
				</div>
				<div class="col-lg-5 my-auto">
					<div class="form-group">
						<label for="prenom">Pseudo :</label>
						<input type="text" class="form-control" id="prenom" required> 
					</div>
				</div>
				<div class="col-lg-5 my-auto">
					<div class="form-group">
						<label for="password">Mot de passe :</label>
						<input type="password" class="form-control" id="password" required> 
					</div>
				</div>
				<div class="col-lg-5 my-auto">
					<div class="form-group">
						<label for="confirm">Confirmer mot de passe :</label>
						<input type="password" class="form-control" id="confirm" required> 
					</div>
				</div>
				<div class="col-lg-5 my-auto">
					<div class="form-group">
						<label for="radio">Etes-vous un artiste ? :</label>
						<label class="radio-inline"><input type="radio" name="artiste">Oui</label>
						<label class="radio-inline"><input type="radio" name="artiste" checked>Non</label>
					</div>
				</div>
				<button type="submit" class="btn btn-success">Submit</button>
			</div>
	</form>
</div>

